.format-text{
    color: black;
    font-weight: bold;
}

.center{
    text-align: center;  
}

.color-periodo{
    background-color: #5797df;
}

.color-temporada{
    background-color: #fea82f;
}

.color-ap1{
    background-color: #cbe3fb;
}

.color-ap2{
    background-color: #b3d5fb;
}

.color-l1{
    background-color: #fde4ac;
}
.color-l11{
    background-color: #f8f6f7;
}

.color-l2{
    background-color: #ffeeda;
}
.color-l22{
    background-color: #ffffff;
}